<section id="inputs">
    <div id="cont">
        <h2>Ingresa la tarea</h2>
    </div>
    <div id="cform">
        <form action="" name="tarea" id="form">
            <label for="txtTitulo">Ingresa el titulo de la tarea</label>
            <input type="text" name="nombre">

            <label for="txtFecha">Ingresa la fecha</label>
            <input type="date" name="fecha">

            <label for="txtDescripcion">Ingresa una descripcion</label>
            <input type="text" name="descripcion">

            <button>Ingresar</button>
            <button>Listar</button>
        </form>
    </div>
</section>
